hr.main {
  height: 1px;
  width: 25%;
  margin: 30px auto;
  background-color: black;
  border-width: 4px;
  border-radius: 3px;
  border-color: #39D1B4;
  box-shadow: 0 2px 2px -1px #F65A5B;
}

hr.main::before {
    content: "";
          width: 10px;
          height: 10px;
          background: #39D1B4;
          display: inline-block;
          border: 2px solid #39D1B4;
          position: absolute;
          left: 50%;
          margin: -6px 0 0 -5px;
          box-shadow: 2px 2px 2px -1px #F65A5B;
          transform:rotate(45deg);
          -ms-transform:rotate(45deg); /* IE 9 */
          -webkit-transform:rotate(45deg); /* Opera, Chrome, and Safari */
}

hr.transparent {
    display: block;
    color: transparent;
    overflow: hidden;
    height: 3px;
    background-color: transparent;
    border: transparent;
}

hr.black {
    display: block;
    color: #282828;
    overflow: hidden;
    height: 3px;
    background-color: #282828;
    border: 1px #282828;
}

div.endColumns {
    clear: both;
}

div.youtube {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

iframe.youtube {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

figure figcaption {
    text-align: center;
}

figure.lazyimg {
    position: relative;
    height: auto;
    width: auto;
}

div.textCentre {
    text-align: center;
}

button.centre {
    height: 100%;
    width: auto;
    display: grid;
    margin: auto;
}

button.game3 {
    height: 100%;
    width: 32.3%;
    position: relative;
}

.game {
    display: inline-block;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #FFF;
    background: royalblue;
    border-radius: 4px;
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
    font-weight: bold;
    border: solid 2px darkblue;
}

.game:active {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}

details.dark {
  width: 100%;
  margin: 0 auto;
  background: #282828;
  color: white;
  margin-bottom: .5rem;
  box-shadow: 0 .1rem 1rem -.5rem rgba(0,0,0,.4);
  border-radius: 5px;
  overflow: hidden;
}

summary.dark {
  padding: 1rem;
  display: block;
  background: #333;
  padding-left: 2.5rem;
  position: relative;
  cursor: pointer;
}

summary.dark:before {
  content: '';
  border-width: .6rem;
  border-style: solid;
  border-color: transparent transparent transparent #fff;
  position: absolute;
  top: 1.7rem;
  left: 1rem;
  transform: rotate(0);
  transform-origin: .2rem 50%;
  transition: .25s transform ease;
}

details.dark[open] > summary.dark:before {
  transform: rotate(90deg);
}

details.dark summary.dark::-webkit-details-marker {
  display:none;
}

details.dark > ul {
  padding: 3rem;
  margin-bottom: 0;
}

.bird {
	background-image: url(/img/bird.svg);
	background-size: auto 100%;
	width: 88px;
	height: 125px;
	will-change: background-position;

	animation-name: fly-cycle;
	animation-timing-function: steps(10);
	animation-iteration-count: infinite;
}

	.bird.--one {
		animation-duration: 1s;
		animation-delay: -0.5s;
	}

	.bird.--two {
		animation-duration: 0.9s;
		animation-delay: -0.75s;
	}

	.bird.--three {
		animation-duration: 1.25s;
		animation-delay: -0.25s;
	}

	.bird.--four {
		animation-duration: 1.1s;
		animation-delay: -0.5s;
	}

.bird-container {
	position: absolute;
	top: 11%;
	left: -10%;
	transform: scale(0) translateX(-10vw);
	will-change: transform;

	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

.bird-container.--one {
	animation-duration: 15s;
	animation-delay: 0s;
	animation-name: fly-right-one;
}

.bird-container.--two {
	animation-duration: 16s;
	animation-delay: 1s;
	animation-name: fly-right-two;
}

.bird-container.--three {
	animation-duration: 14.6s;
	animation-delay: 9.5s;
	animation-name: fly-right-three;
}

.bird-container.--four {
	animation-duration: 16s;
	animation-delay: 10.25s;
	animation-name: fly-right-four;
}

@keyframes fly-cycle {

	100% {
		background-position: -900px 0;
	}

}

@keyframes fly-right-one {

	0% {
		transform: translateY(0vw) translateX(-10vw) scale(0.3);
	}

	10% {
		transform: translateY(2vh) translateX(10vw) scale(0.4);
	}

	20% {
		transform: translateY(0vh) translateX(30vw) scale(0.5);
	}

	30% {
		transform: translateY(4vh) translateX(50vw) scale(0.6);
	}

	40% {
		transform: translateY(2vh) translateX(70vw) scale(0.6);
	}

	50% {
		transform: translateY(0vh) translateX(90vw) scale(0.6);
	}

	60% {
		transform: translateY(0vh) translateX(110vw) scale(0.6);
	}

	100% {
		transform: translateY(3vh) translateX(110vw) scale(0.6);
	}

}

@keyframes fly-right-two {

	0% {
		transform: translateY(3vw) translateX(-10vw) scale(0.5);
	}

	10% {
		transform: translateY(2vh) translateX(10vw) scale(0.4);
	}

	20% {
		transform: translateY(2vh) translateX(30vw) scale(0.6);
	}

	30% {
		transform: translateY(1vh) translateX(50vw) scale(0.45);
	}

	40% {
		transform: translateY(-1.5vh) translateX(70vw) scale(0.5);
	}

	50% {
		transform: translateY(-1.5vh) translateX(90vw) scale(0.45);
	}

	60% {
		transform: translateY(-1.5vh) translateX(110vw) scale(0.45);
	}

	100% {
		transform: translateY(0vh) translateX(110vw) scale(0.45);
	}
}

@keyframes fly-right-three {

	0% {
		transform: translateY(4vh) translateX(-10vw) scale(0.5);
	}

	10% {
		transform: translateY(3vh) translateX(10vw) scale(0.4);
	}

	20% {
		transform: translateY(5vh) translateX(30vw) scale(0.6);
	}

	30% {
		transform: translateY(6vh) translateX(50vw) scale(0.45);
	}

	40% {
		transform: translateY(7.5vh) translateX(70vw) scale(0.5);
	}

	50% {
		transform: translateY(6vh) translateX(90vw) scale(0.45);
	}

	60% {
		transform: translateY(5vh) translateX(110vw) scale(0.45);
	}

	100% {
		transform: translateY(3.5vh) translateX(110vw) scale(0.45);
	}
}

@keyframes fly-right-four {

	0% {
		transform: translateY(2vh) translateX(-10vw) scale(0.5);
	}

	10% {
		transform: translateY(0vh) translateX(10vw) scale(0.4);
	}

	20% {
		transform: translateY(3vh) translateX(30vw) scale(0.6);
	}

	30% {
		transform: translateY(4vh) translateX(50vw) scale(0.45);
	}

	40% {
		transform: translateY(3vh) translateX(70vw) scale(0.5);
	}

	50% {
		transform: translateY(2vh) translateX(90vw) scale(0.45);
	}

	60% {
		transform: translateY(1vh) translateX(110vw) scale(0.45);
	}

	100% {
		transform: translateY(1vh) translateX(110vw) scale(0.45);
	}
}

@media only screen and (max-width: 768px) {
    .bird {
        animation-timing-function: steps(20);
    	width: 44px;
    	height: 63px;
    }

    .bird.--one {
    		animation-duration: 2.05s;
    		animation-delay: -0.5s;
    	}

    	.bird.--two {
    		animation-duration: 2.04s;
    		animation-delay: -0.75s;
    	}

    	.bird.--three {
    		animation-duration: 2.08s;
    		animation-delay: -0.25s;
    	}

    	.bird.--four {
    		animation-duration: 2.06s;
    		animation-delay: -0.33s;
    	}

    .bird-container.--one {
    	animation-duration: 8.5s;
    	animation-delay: 0s;
    }

    .bird-container.--two {
    	animation-duration: 10s;
    	animation-delay: 2s;
    }

    .bird-container.--three {
    	animation-duration: 8.3s;
    	animation-delay: 8s;
    }

    .bird-container.--four {
    	animation-duration: 9s;
    	animation-delay: 9s;
    }

    @keyframes fly-right-one {

    	0% {
    		transform: translateY(2vw) translateX(-10vw) scale(0.3);
    	}

    	10% {
    		transform: translateY(1.5vh) translateX(10vw) scale(0.4);
    	}

    	20% {
    		transform: translateY(1vh) translateX(30vw) scale(0.5);
    	}

    	30% {
    		transform: translateY(1vh) translateX(50vw) scale(0.6);
    	}

    	40% {
    		transform: translateY(1vh) translateX(70vw) scale(0.6);
    	}

    	50% {
    		transform: translateY(1.5vh) translateX(90vw) scale(0.6);
    	}

    	60% {
    		transform: translateY(2vh) translateX(110vw) scale(0.6);
    	}

    	100% {
    		transform: translateY(2vh) translateX(110vw) scale(0.6);
    	}

    }

    @keyframes fly-right-two {

    	0% {
    		transform: translateY(1.5vw) translateX(-10vw) scale(0.5);
    	}

    	10% {
    		transform: translateY(1vh) translateX(10vw) scale(0.4);
    	}

    	20% {
    		transform: translateY(1vh) translateX(30vw) scale(0.6);
    	}

    	30% {
    		transform: translateY(0vh) translateX(50vw) scale(0.45);
    	}

    	40% {
    		transform: translateY(-0.5vh) translateX(70vw) scale(0.5);
    	}

    	50% {
    		transform: translateY(-0.5vh) translateX(90vw) scale(0.45);
    	}

    	60% {
    		transform: translateY(-1.0vh) translateX(110vw) scale(0.45);
    	}

    	100% {
    		transform: translateY(-0.5vh) translateX(110vw) scale(0.45);
    	}
    }

    @keyframes fly-right-three {

    	0% {
    		transform: translateY(2vh) translateX(-10vw) scale(0.5);
    	}

    	10% {
    		transform: translateY(1.5vh) translateX(10vw) scale(0.4);
    	}

    	20% {
    		transform: translateY(2.5vh) translateX(30vw) scale(0.6);
    	}

    	30% {
    		transform: translateY(3vh) translateX(50vw) scale(0.45);
    	}

    	40% {
    		transform: translateY(3.75vh) translateX(70vw) scale(0.5);
    	}

    	50% {
    		transform: translateY(3vh) translateX(90vw) scale(0.45);
    	}

    	60% {
    		transform: translateY(2.5vh) translateX(110vw) scale(0.45);
    	}

    	100% {
    		transform: translateY(1.25vh) translateX(110vw) scale(0.45);
    	}
    }

    @keyframes fly-right-four {

    	0% {
    		transform: translateY(1vh) translateX(-10vw) scale(0.5);
    	}

    	10% {
    		transform: translateY(0vh) translateX(10vw) scale(0.4);
    	}

    	20% {
    		transform: translateY(1vh) translateX(30vw) scale(0.6);
    	}

    	30% {
    		transform: translateY(2vh) translateX(50vw) scale(0.45);
    	}

    	40% {
    		transform: translateY(1.5vh) translateX(70vw) scale(0.5);
    	}

    	50% {
    		transform: translateY(2vh) translateX(90vw) scale(0.45);
    	}

    	60% {
    		transform: translateY(1.5vh) translateX(110vw) scale(0.45);
    	}

    	100% {
    		transform: translateY(1vh) translateX(110vw) scale(0.45);
    	}
    }
}

.line-1{
    position: relative;
    top: 50%;
    width: 3em;
    margin: 0 auto;
    border-right: 2px solid white;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
}

/* Animation */
.anim-typewriter-title{
  animation: typewriter 1s steps(11) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) 15 normal;
}

@keyframes typewriter{
  from{width: 0;}
  to{width: 3em;}
}

@keyframes blinkTextCursor{
  from{border-right-color: black;}
  to{border-right-color: transparent;}
}
