hr.main {
  height: 1px;
  width: 25%;
  margin: 30px auto;
  background-color: black;
  border-width: 4px;
  border-radius: 3px;
  border-color: #39D1B4;
  box-shadow: 0 2px 2px -1px #F65A5B;
}

hr.main::before {
    content: "";
          width: 10px;
          height: 10px;
          background: #39D1B4;
          display: inline-block;
          border: 2px solid #39D1B4;
          position: absolute;
          left: 50%;
          margin: -6px 0 0 -5px;
          box-shadow: 2px 2px 2px -1px #F65A5B;
          transform:rotate(45deg);
          -ms-transform:rotate(45deg); /* IE 9 */
          -webkit-transform:rotate(45deg); /* Opera, Chrome, and Safari */
}

hr.blue {
    display: block;
    color: royalblue;
    overflow: hidden;
    height: 3px;
    background-color: royalblue;
}

hr.white {
    display: block;
    color: white;
    overflow: hidden;
    height: 3px;
    background-color: white;
    border: 1px white;
}

hr.black {
    display: block;
    color: #282828;
    overflow: hidden;
    height: 3px;
    background-color: #282828;
    border: 1px #282828;
}

div.endColumns {
    clear: both;
}

div.youtube {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

iframe.youtube {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

figure figcaption {
    text-align: center;
}

figure.lazyimg {
    position: relative;
    height: auto;
    width: auto;
}

div.textCentre {
    text-align: center;
}

button.centre {
    height: 100%;
    width: auto;
    display: grid;
    margin: auto;
}

button.game3 {
    height: 100%;
    width: 32.3%;
    position: relative;
}

.game {
    display: inline-block;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #FFF;
    background: royalblue;
    border-radius: 4px;
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
    font-weight: bold;
    border: solid 2px darkblue;
}

.game:active {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}

details.dark {
  width: 100%;
  margin: 0 auto;
  background: #282828;
  color: white;
  margin-bottom: .5rem;
  box-shadow: 0 .1rem 1rem -.5rem rgba(0,0,0,.4);
  border-radius: 5px;
  overflow: hidden;
}

summary.dark {
  padding: 1rem;
  display: block;
  background: #333;
  padding-left: 2.5rem;
  position: relative;
  cursor: pointer;
}

summary.dark:before {
  content: '';
  border-width: .6rem;
  border-style: solid;
  border-color: transparent transparent transparent #fff;
  position: absolute;
  top: 1.7rem;
  left: 1rem;
  transform: rotate(0);
  transform-origin: .2rem 50%;
  transition: .25s transform ease;
}

details.dark[open] > summary.dark:before {
  transform: rotate(90deg);
}

details.dark summary.dark::-webkit-details-marker {
  display:none;
}

details.dark > ul {
  padding: 3rem;
  margin-bottom: 0;
}
