.line-1{
    position: relative;
    top: 50%;
    width: 3em;
    margin: 0 auto;
    border-right: 2px solid white;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
}

.anim-typewriter-title{
  animation: typewriter 1s steps(11) 2.5s 1 normal both,
             blinkTextCursor 500ms steps(44) 15 normal;
}

@keyframes typewriter{
  from{width: 0;}
  to{width: 3em;}
}

@keyframes blinkTextCursor{
  from{border-right-color: black;}
  to{border-right-color: transparent;}
}
