{{ if or (eq .Title "A*") (eq .Title "Cellular Automata") }}
<script src="https://cdn.babylonjs.com/babylon.js"></script>
<script src="https://cdn.babylonjs.com/loaders/babylonjs.loaders.min.js"></script>
<script src="https://code.jquery.com/pep/0.4.3/pep.js"></script>

<canvas id="renderCanvas" touch-action="none"></canvas> <!-- touch-action="none" for best results from PEP -->

{{ if eq .Title "A*" }}
<script src="/js/a_star.js" type="module"></script>

{{ else if eq .Title "Cellular Automata" }}
<script src="/js/cellularAutomata.js" type="module"></script>
{{ end }}
{{ end }}

{{ if eq .Title "Contact Details" }}
<script src="/js/contactDetails.js"></script>
{{ end }}
