<link rel='stylesheet' type='text/css' href="{{.Site.BaseURL}}css/cp-dev.css">

{{ if or (eq .Title "A*") (eq .Title "Cellular Automata") }}
<style>
    #renderCanvas {
        width: auto;
        max-width: 768px;
        margin-right: auto;
        margin-left: auto;
        height: auto;
        min-height: 480px;
        touch-action: none;
    }

    @media only screen and (max-width: 767px) {
        #renderCanvas {
                width: 100%;
                max-width: 767px;
                margin-right: auto;
                margin-left: auto;
                height: auto;
                min-height: 280px;
                touch-action: none;
            }
    }
</style>
{{ end }}

{{ if eq .Title "Contact Details" }}
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link href="{{.Site.BaseURL}}css/contactDetails.css" rel='stylesheet' type='text/css'>
{{ end }}
